nav {
    background-color: aqua;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: aqua;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px;
}

aside {
    background-color: rgb(252, 214, 2);
    color: black;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    border: 1px solid rgb(161, 119, 1);
    width: 20rem;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}