:root {
    --primary-color: aqua;
    --secondary-color: rgb(252, 214, 2);
    --dark-color: black;
    --light-color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--light-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

h2 {
    position: absolute;
    top: 20px;
    left: 100px;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    width: auto;
    height: 200px;
    border: 1px solid var(--dark-color);
    padding: 2px;
    box-shadow: 0 0 30px;
    float: right;
}

aside {
    background-color: var(--secondary-color);
    color: var(--dark-color);
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    border: 1px solid rgb(161, 119, 1);
    width: 20rem;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--dark-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    background-color: var(--primary-color);
}

ul {
    clear: both;
}